@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
}
nav {
  /* 레이아웃에 대한 스타일(5~10줄) */
  display: flex;
  max-width: 1920px;
  padding-left: 120px;
  gap: 40px;
  font-size: 24px;
  font-weight: 700;

}

.group45 {
  display: flex;
  height: 100px;
  align-items: center;
  gap: 40px;
  
}

.navItem {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  max-width: 1920px;
  height: 662px;
  padding: 0px 120px;
  gap: 10px;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group9 {
  display: flex;
  max-width: 1920px;
  height: 464px;
  gap: 40px;
  flex-shrink: 0;
}

.frame65 {
  display: flex;
  max-width: 1920px;  
  height: 464px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.badge {
  /* display: flex; */
  padding: 12px 24px;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  border-radius: 10px;
  background: #e6eeff;
  width: fit-content;

  /* 텍스트 속성 */
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */

}

header h1 {
  /*margin-left: 120px;*/
  color: #333;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 80px */
  letter-spacing: -1.28px;
}

header h1 em {
  font-size: 48px;
  background: linear-gradient(
    99deg,
    #001f8f 3.58%,
    rgba(36, 255, 203, 0.5) 90.34%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerLinkContainer {
  display: flex;
  gap: 16px;
  /*margin-left: 120px;*/
  /* flex-direction: row; */
}
.button1 {
  display: flex;
  width: 250px;
  padding: 24px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-radius: 16px;
  background: #000;
}
.button2 {
  display: flex;
  width: 250px;
  padding: 24px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  border-radius: 16px;
  border: 4px solid #403930;
}

.masking {
  width: 350px;
  height: 350px;
  border-radius: 500px;
  border: 10px solid #bcf2f9;
  background: url(./test.jpeg), lightgray 50% / cover no-repeat;
}

.frame27 {
  display: flex;
  max-width: 1920px;
  height: 497px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    96deg,
    rgba(189, 210, 255, 0.4) 1.72%,
    rgba(116, 224, 215, 0.4) 158.93%
  );
}

.frame7 {
  display: flex;
  max-width: 1920px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;

  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 50px */
  letter-spacing: -0.8px;
}

.frame7 em {
  height: 172px;
  flex-shrink: 0;
  align-self: stretch;
  color: #333;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 30px */
  white-space: pre-line;
}

.flyingPerson {
  width: 120px;
  height: 120px;
  position: absolute;
  /* top: 0px; */
  bottom: 0px;
  /* right: 0px; */
  left: 830px;
}

.posRelative {
  position: relative;
}

.contact {
  width: 130px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 10px solid #bbd5f7;
  background: linear-gradient(
    98deg,
    #bed3ff -10.83%,
    #d2f3e5 51.79%,
    #ffebd9 110.76%
  );
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.stack {
  display: flex;
  max-width:1920px;
  height: 666px;
  padding: 100px 120px;
  gap: 10px;
  color: #333;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 65% */
  letter-spacing: -0.8px;
}


.frame9 em {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 65% */
  letter-spacing: -0.8px;
}
/* Group 8 */
.group8 {
  display: flex;
  max-width: 1920px;
  height: 473px;
  flex-shrink: 0;
}

/* Frame 81 */
.frame81 {
  display: flex;
  max-width:1920px;
  flex-direction: column;
  gap: 80px;
}

/* Frame 9 */
.frame9 {
  color: #333;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  white-space: pre-line;
  
}

.typing {
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Frame 9 */
.frame10 {
  display: flex;
  max-width: 1920px;
  flex-direction: row;
  gap: 80px;

  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.stackimg{
width: 120px;
height: 120px;
}

.project{
max-width: 1920px;
height: 1560px;
padding: 80px 120px 120px 120px;
justify-content: center;
align-items: center;

color: #403930;
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 50px */
letter-spacing: -0.8px;

flex-direction: column;
justify-content: center;
align-items: center;
}

.projectframe{
display: flex;
max-width: 1920px;
height: 1362px;

gap: 32px;
flex: 1 0 0;

flex-direction: column;
justify-content: center;
align-items: center;
}

.frame43{
  display: flex;
padding: 8px;
align-items: flex-start;
gap: 10px;
}

.frame47{
display: flex;
max-width: 1920px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}

.frame42{
display: flex;
max-width: 1920px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

}

.frame40{
  display: flex;
padding-left: 40px;
gap: 40px;
align-self: stretch;
flex-direction: row;
align-items: center;
justify-content: center;
background-color: #ff6a89;
}

.frame23{
  display: flex;
  max-width: 1920px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.frame22{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: #403930;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
white-space: pre-line;
}

.frame31{
  display: flex;
align-items: flex-start;
gap: 24px;
color: #405BA1;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
text-decoration-line: underline;
}

.frame22 em{
  color: #403930;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.mask{
height: 400px;
display: flex;
flex-direction: row;
align-items: flex-start;
margin-left:auto;
gap:32px;
}

.rectangle16{
  width: 603px;
height: 400px;
flex-shrink: 0;
border-radius: 24px;
display:flex;
justify-content: center;
align-items: center;
}
.group6{
  max-width: 1920px;
height: 327.965px;
display: flex;
flex-direction: row;
align-items: flex-start;
flex-shrink: 0;
gap:20px;
}

.portimage{
  width: 155.099px;
height: 327.965px;
flex-shrink: 0;
border-radius: 16.08px;

box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}